* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.contenedorova {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
    position: relative;
    top: 18vh;
}

.fondo {
    display: flex;
    justify-content: center;
    position: fixed;
}